:root {
  --bs-primary-rgb: 52, 147, 243;
}

body {
  background: #17212b;
  padding: 0;
  margin: 0;
}

.bottom-menu {
  background: #1e2a35;
  display: flex;
  justify-content: space-around;
}

.bottom-menu .item {
  padding: 10px;
  color: #78797E;
  text-align: center;
  font-size: small;
  cursor: pointer;
}

.bottom-menu .item .icon {
  padding: 0 10px;
  border-radius: 50px;
  display: inline-block;
}

.bottom-menu .item .icon svg {
  width: 24px;
  height: 24px;
}

.bottom-menu .item.active {
  color: #6ab3f3;
}

.bottom-menu .item.active .icon {
  background-color: #25303A;
  color: #6ab3f3;
}

.card {
  --bs-card-bg: #232e3c;
  --bs-card-border-radius: .75rem;
  --bs-card-border-color: transparent;
}

.form-control {
  background-color: #2b3645;
}

.btn-primary {
  --bs-btn-bg: #3493f3;
  --bs-btn-border-color: #3493f3;
  --bs-btn-hover-bg: #2e86e3;
  --bs-btn-hover-border-color: #2e86e3;
  --bs-btn-focus-bg: #2e86e3;
  --bs-btn-focus-border-color: #2e86e3;
  --bs-btn-active-bg: #2e86e3;
  --bs-btn-active-border-color: #2e86e3;
  --bs-btn-disabled-bg: #3493f3;
  --bs-btn-disabled-border-color: #3493f3;
}

.cursor-pointer {
  cursor: pointer;
}